body{
	padding: 10px;
	background: #E8E8E8;
}

header{
	background-color: #ff704d;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

img{
	border-style: solid;
}

#about{
	border-style: solid;
	padding: 10px;
}

#faq_title{
	color: #ff704d;
}

#directions{
	background-color: #ff704d;
	border-style: solid;
}

.question{
	font-size: 20px;
	font-weight: bolder;
	font-style: italic;
}

.anwser{
	border-style: solid;
	background-color: #ff704d;
	font-weight: bold;
}

